data/**
working/
!data/.keep
!data/ukcat.csv
!data/sample.csv
!data/ccni_activities.csv
!data/icnptso.csv
!data/top2000.csv
!data/charities_active-ukcat.csv
!data/charities_inactive-ukcat.csv
!data/charities_active-icnptso.csv
!data/charities_inactive-icnptso.csv